#sect1 {
     text-align: center;
}
 #title {
     text-align: center;
}
 #btnRes {
     margin-top: 10px;
     margin-left: -120px;
}
 #btn {
     margin:0px 20px;
}
 #wordInp {
     font-size: 18px;
     padding:5px 25px;
     border-radius:5px;
     box-shadow:0 0 15px 10px rgba(0,0,0,0.3);
}
 body {
     background-color: #C0C0C0;
}
 .drawing {
     position: absolute;
     display: block;
     height: 350px;
     width:300px;
     fill: transparent;
     stroke: black;
     stroke-width: 7px;
     stroke-linecap: round;
     top: 45%;
     right: 10%;
}
 .elements {
     display: none;
}
 .butStr {
     position: absolute;
     background-color: #989898;
     border: none;
     color: black;
     padding: 5px 20px;
     text-align: center;
     border-radius:10px;
     font-size: 20px;
     margin: 5px 5px;
     transition-duration: 0.3s;
     cursor: pointer;
}
 .butStr:hover {
     background-color: #87CEFA;
     border: 1px solid #4CAF50;
}
 .butt {
     padding: 5px 15px;
     text-align: center;
     display: inline-block;
     font-size: 16px;
     margin: 10px 5px;
     transition-duration: 0.4s;
     cursor: pointer;
     background-color: #beb4cb;
     color: black;
     border: 2px solid #008CBA;
     border-radius:5px;
}
 .butt:hover {
     background-color: #008CBA;
     color: white;
}
 #status {
     position: absolute;
     left: 5%;
     top: 45%;
}
 #guess {
     position: absolute;
     left: 30%;
     top: 75%;
     font-size: 30px;
}
 #realLifes {
     position: absolute;
     top: 44%;
     left: 15%;
}
 #lifes {
     font-size: 31px;
     color: #FF4500;
}
 #alertMessage {
     margin-top: 11%;
     margin-left: 23%;
     font-size: 30px;
     color: #008080;
     font-style: italic;
}
 .copyright {
     position: absolute;
     font-size:20px;
     color:Grey;
     left: 40%;
     top: 90%;
}
